@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", "sans-serif";
}

body,
html {
  display: grid;
  height: 100%;
  place-items: center;
  background: #000;
}

.wrapper {
  height: 100px;
  width: 360px;
  border-radius: 10px;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  animation: animate 1.5s linear infinite;
  position: relative;
  cursor: default;
}

.wrapper .display,
.wrapper span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper .display {
  height: 85px;
  z-index: 999;
  width: 345px;
  text-align: center;
  background: #1b1b1b;
  border-radius: 6px;
  text-align: center;
}

.wrapper .display #time {
  line-height: 85px;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 1px;
  animation: animate 1.5s linear infinite;
}

@keyframes animate {
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes animate {
  100% {
    filter: hue-rotate(360deg);
  }
}

.wrapper span {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: inherit;
}

.wrapper span:first-child {
  filter: blur(7px);
}

.wrapper span:last-child {
  filter: blur(20px);
}
